.bus-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 5px
}

.bus-number {
  font-size: 3rem;
  font-weight: bold;
}

.city-name {
  font-size: 2.5rem;
}

.bus-status {
  text-align: right;
  font-size: 3rem;
}
