.bus-card {
  display: flex;
  padding: 5px;
  flex-direction: column;
  margin-bottom: 20px;
}

.bus-number {
  font-size: 1.8rem;
  font-weight: bold;
}

.top-bus-card,
.bottom-bus-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.city-name {
  font-size: 1rem;
}

.bus-status {
  text-align: right;
  font-size: 2rem;
}

.delete-button {
  background-color: transparent;
  padding: 0;
  padding-right: 10px;
  text-align: right;
  color: red;
  font-weight: bolder;
  font-size: 2rem;
  cursor: pointer;
}

.phone-wrapper {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  height: 100%;
}

.phone-wrapper > .text-wrapper {
  height: 100%;
  font-size: 1.75rem;

  text-align: center;

  font-weight: bold;

  padding-bottom: 20px;
}

.route-list-heading {
  font-size: 1.25rem;
}

#page-container.bus.list-page {
  padding: 10px 16px 0 16px;
}

#page-container.Setup-page {
  display: flex;
  justify-content: center;
}

#page-container.Alert.Setup-page {
  display: flex;
  justify-content: start;
}

#bus-time-table {
  width: 100%;
}

.add-button {
  padding: 0 10px 0 10px;

  border-radius: 10px;

  margin-bottom: -19px;
}

/* [id="link-to-Alert Setup"] {
  display: none;
} */

.phone-input-wrapper {
  display: flex;

  flex-direction: column;

  justify-content: space-around;
}

@media (min-width: 576px) {
  .route-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (min-width: 748px) {
  .route-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
